menu "Memory Configuration"

config MBASE
  hex "Memory base address"
  default 0x30000000

config MSIZE
  hex "Memory size"
  default 0x1000000

config SRAMBASE
  hex "SRAM base address"
  default 0x0f000000

config SRAMSIZE
  hex "SRAM size"
  default 0x2000

config PSRAMBASE
  hex "PSRAM base address"
  default 0x80000000

config PSRAMSIZE
  hex "PSRAM size"
  default 0x400000

config SDRAMBASE
  hex "SDRAM base address"
  default 0xa0000000

config SDRAMSIZE
  hex "SDRAM size"
  default 0x2000000

endmenu
