menu "Memory Configuration"

config MBASE
  hex "Memory base address"
  default 0x30000000

config MSIZE
  hex "Memory size"
  default 0xFFFFFFF

config PSRAM_MBASE
  hex "PSRAM base address"
  default 0x80000000

config PSRAM_MSIZE
  hex "PSRAM size"
  default 0xFFFFFFF

endmenu
